div.u-full-width
  table.u-full-width
    thead
      tr
        th Repo Name
        th Owner
        th Public or Private
        th Forks
        th Open Issues
      tbody
      each item in items
        tr
          td
            a(href="#", onClick='repoView("' + item.full_name + '")')
              = item.name
          td= item.owner.login
          td
            if (item.private)
              |Private
            else
              |Public
          td= item.forks
          td= item.open_issues